
*{
    font-family: 'Kaisei Tokumin', serif;

}



#logo {
    width: 200px;
    height: 100px;
    padding-top: 40px;
    padding-bottom: 5px;
    
    
}

.title {
    background-image: url('../html-css-booleaner-1/img/pattern.png');
    height: 18%;
    width: 100%;
    background-color: rgb(26, 116, 201);
}

#paragrafo {
    color: rgb(26, 116, 201);
}

/*section 1*/

.underline {
    background-color: yellow;
    
}


/*add table*/
#thead{
    background-color: deepskyblue;
}
.th{
    color: #fff;
}





















/*footer image*/

#image1 {
    background-image: url(../html-css-booleaner-1/img/monitor.jpg);
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
}

#image2 {
    background-image: url(../html-css-booleaner-1/img/graph.jpg);
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
}

.lorem {
    color: #fff;
    font-size: 22px;
    padding-top: 10px;
    padding-left: 10px;
}