
*{
    font-family: 'Kaisei Tokumin', serif;
}


#logo {
    width: 200px;
    height: 100px;
    padding-top: 40px;
    padding-bottom: 5px;
    
    
}

.title {
    background-image: url('../html-css-booleaner-1/img/pattern.png');
    height: 18%;
    width: 100%;
    background-color: rgb(26, 116, 201);
}

#paragrafo {
    color: rgb(26, 116, 201);
}