/*utilities*/

/*container*/

.container{
    width: 70%;
    margin: 0 auto;
    background: #fff;
}


/*header*/

header{
    background-color: rgb(26, 116, 201) ;
}

#logo {
    width: 200px;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    z-index: 5;
     
}

.title {
    background-image: url('./img/pattern.png');
    height: 100px;
    width: 100%;
    /* background-color: rgb(26, 116, 201); */
     background-size: 20%; 
     
}

/*main*/
main{
    padding: 0 10px;
}

/*intro*/

h1{
    font-size: 38px;
    margin-bottom: 0;
}

.author{
    font-size: 18px;
    color: dimgray;
}

.author.name{
    color: rgb(26, 116, 201) ;
}

.data{
    font-size: 15px;
    color: dimgrey;
}

/* .photos{
    font-size: 12px;
} */

/* .photos img{
   width: 48%;
} */


/*section 1*/

p{
    margin: 30px 0;
}

.underline {
    background-color: yellow;
    
}

/*section2*/

ul{
    padding-left: 16px;
}

/*add table*/

table{
    border-collapse:0 ;
    
}

thead{
    background-color: rgb(26, 116, 201);
    color: #fff;
    text-align: left;
}


.th{
    width: 50%;
}

tr{
    padding: 20px;
}


.tab.color{
    background-color: aqua;
}

tbody tr:nth-child(even){
    background-color: rgba(26, 116, 201, 0.514);
} 


/*footer image*/

footer{
    margin-bottom: 10px;
    padding: 0 10px;
}

#image1 {
    background-image: url(./img/monitor.jpg);
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
    
}

#image2 {
    background-image: url(./img/graph.jpg);
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
    
}

.lorem {
    color: #fff;
    font-size: 22px;
    padding-top: 10px;
    padding-left: 10px;
}
/* 
.logoPattern{
    object-fit: cover;
} */